html {
    height: 100%;
}

body {
    background-color: #2f3035;
    background-image: url(images/perseus_multi.jpg);
    background-size: cover;
}

.header-image{
    height: 100px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header {
    /* background-color: blue; */
    height: 118px;
    text-align: center;
}

nav {
    background-color: rgba(255, 255, 255, 0.3);
    /* height: 40px; */
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}

main {
    /* background-color: orange; */
    /* height: 350px; */
    text-align: center;
    padding-top: 40px;
    padding-left: 200px;
    padding-right: 200px;
}

section {
    text-align: center;
}

footer {
    background-color: greenyellow;
    height: 100px;
}

h1 {
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}

nav a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.maps {
    padding-bottom: 100px;
}

.videos {
    padding-bottom: 100px;
}