html {
    height: 100%;
}

body {
    background-color: #2f3035;
    /* background-image: url(images/perseus_multi.jpg); */
    /* background-size: cover; */
}

.zoom-image{
    height: 200px;
}

.container {
    /* background-color: greenyellow; */
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.box1 {
    /* background-color: pink; */
    /*padding-left: 10px;*/
}

.box2 {
    /* background-color: greenyellow; */
}

.proj-box{
    /* background-color: hotpink; */
    
}

nav {
    background-color: rgba(255, 255, 255, 0.3);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* height: 40px; */
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
}

main {
    /* background-color: orange; */
    /* height: 350px; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 50vh; */
    padding-top: 40px;

    /* text-align: center;
    padding-left: 200px;
    padding-right: 200px; */
}

.main2 {
    /* background-color: orange; */
    /* height: 350px; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50vh;
    padding-top: 40px;

    /* text-align: center;
    padding-left: 200px;
    padding-right: 200px; */
}

h1 {
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 23px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 18px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-decoration: none; */
}

nav a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
